@import 'tailwindcss';
@source "../node_modules/layerchart/**/*.{svelte,js}"; 
@source "../node_modules/svelte-ux/**/*.{svelte,js}";
@import 'layerchart/shadcn-svelte.css';

body{
    background-color: black;
    color: white;
}

input{
    background-color: white;
    color: black;
}